html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    height: 100vh;
    width: 100vw;
    font-family: "Nunito Sans", sans-serif;
	overflow-x: hidden;
}


.spin {
    width: 30px;
    height: 30px;
    margin: 100px auto;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #1a73e8;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin-text {
    text-align: center;
}



@media screen and (max-Width:500px) {

    .css-1x8ar4h-MuiPaper-root-MuiAppBar-root {
        padding: 0px !important;
    }

    .css-1peqwws-MuiPaper-root-MuiAppBar-root {
        padding: 0px !important;
    }
    
    .css-1972wl8-MuiToolbar-root {
        padding: 0;
    }
    .css-48gwtt-MuiTypography-root {
        font-size: larger !important;
    }
    .css-p22k3e-MuiSvgIcon-root {
        width: 0.7em !important;
    }

    .css-y6skpx {
        width: 94.5%;
        margin: 0px !important;
        display: flex;
        flex-direction: column;
    }

    .css-lfvat2>:not(style) {
        margin: 0px;
        flex-direction: column;
        height: 20rem;
    }
    .css-1si07xu-MuiPaper-root {
        width: 100%;
    }
    .css-1nnbhc9-MuiPaper-root {
        width: 100% !important;
    }

    .css-lfvat2 {
        margin: 0px;
    }

    .css-1x8ar4h-MuiPaper-root-MuiAppBar-root {
        padding-left: 0;
        padding-right: 0;
    }
    .css-1f8p2hs-MuiStack-root {
        display: flex;
        flex-direction: column;
    }
    .css-y6skpx>:not(style) {
        flex-direction: column;
        height: 20rem;
        margin: 0 ; 
    }

    .css-9ra9ut-MuiPaper-root {
        width: 100% !important;
    }

    .css-d5be85 {
        width: 100% !important;
    }
    .css-bpftzy {
        width: 100% !important;
    }


    .css-w8moev {
        padding: 0 !important;
    }
    .css-1j4x8ce {
        padding: 0 !important;
    }
    .css-1mbay5b {
        font-size: 1.2rem !important;
    }
}